.addbutton {
  background-color: #e2989a;
  border: none;
  color: white;
  border-radius: 0.5rem;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  border: none;
  position: absolute;
  margin-left: 85%;
}
.addbutton:hover {
  background-color: #de4746;
  border: none;
  color: white;
  border-radius: 0.5rem;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  border: none;
  position: absolute;
  margin-left: 85%;
}

.add {
  width: 200px;
  height: 40px;
  margin: 15px;
  background: #f44336;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 0.5rem;
}
.add:hover {
  width: 200px;
  height: 40px;
  margin: 15px;
  background-color: black;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 0.5rem;
}
.recipeCard button {
  background-color: #f44336;
  border: none;
  color: white;
  border-radius: 0.5rem;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.recipeCard button:hover {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
